body{
    background-color: black;
    text-align: center;
}


img{
    border: solid white 5px;
    width: 100%;
}

.mid-container{
    font-family: Libre Baskerville, serif;
    color: white;
    width: 50%;
    margin-left: 25%;
    margin-top: 8%;
}